.loader {
    display: block;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    text-align: center;
    &.fullScreen {
        position: fixed;
    }
    .warpper {
        width: 100px;
        height: 100px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &.hidden {
        opacity: 0;
        transition: opacity 0.4s ease 0.2s;
    }
}