/**
 * 主体颜色
 * @type {[type]}
 */
$theme-color: #3f94e2;

/**
 * 左侧导航宽度
 * @type {[type]}
 */
$left-width: 240px;

/**
 * 顶部菜单高度
 */
$top-height: 56px;


/**
 * success颜色
 * @type {[type]}
 */
$success-color: #5eaf5e;
$success-hover-color: #5cb85c;

/**
 * danger颜色
 * @type {[type]}
 */
$danger-color: #f5222d;
$danger-hover-color: #ff4d4f;